<app-auth-contect>
  <section class="section">
    <div class="section-header">
      <h1>{{'EQUIPMENT.HEADER'|translate}}</h1>
    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="card author-box card-primary">

            <div class="card-header">
              <h4>{{'EQUIPMENT.TABLE_HEADER'|translate}}</h4>
              <div class="card-header-form">

                  <form>
                    <div class="input-group">
                      <input type="text" class="form-control" [placeholder]="'COMMON.SEARCH'|translate" name="searchText" [(ngModel)]="equipmentService.searchText" />
                      <div class="input-group-btn">
                        <button class="btn btn-primary" (click)="search()"><i class="fas fa-search"></i></button>
                      </div>
                      <button [hidden]="!equipmentService.isClickSearch" class="btn btn-warning mx-1" (click)="stopSearch()"><i class="fa fa-times" aria-hidden="true"></i></button>
                      <button class="btn btn-danger mx-5" (click)="add()">{{'COMMON.ADD'|translate}}</button>
                    </div>
                  </form>


                </div>
            </div>

            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-striped table-md">
                  <tr>
                    <th>{{'COMMON.NAME'|translate}}</th>
                    <th>{{'COMMON.CODE'|translate}}</th>
                    <th>{{'COMMON.DESCRIPTION'|translate}}</th>
                    <th></th>
                  </tr>

                  <tr *ngFor="let equipment of dataList; let i = index">
                    <td>{{equipment.name}}</td>
                    <td>{{equipment.code}}</td>
                    <td>{{equipment.description }}</td>
                    <td>
                      <app-table-context-menu
                        [showEdit]="true"
                        (editHandler)="edit(equipment.id)"
                      >
                    </app-table-context-menu>
                  </tr>

                </table>
              </div>
            </div>

            <app-pagination
              [totalRows]="totalRows"
              [size]="equipmentService.filterDataWithPaginationAndSort.size"
              [currentPage]="currentPage"
              (pageChanged)="pageChanged($event)"
              >
            </app-pagination>

          </div>
        </div>
      </div>
    </div>
  </section>
</app-auth-contect>


