<app-auth-contect>
  <app-page-header
  [pageHeader]="'MEMBER.MANAGE_MEMBER'"
  [sectionHeader]="'MEMBER.SHOW_MEMBER'"
  [isTablePage]="true"
  [service]="memberService"

  (onSearch)="search()"
  (onStopSearch)="stopSearch()"
  (onAdd)="add()"
  [permissionArr]="[AuthURL.Modules.subscriptions_managemnt.code, AuthURL.Modules.subscriptions_managemnt.screens.member.code]"

>
      <div class="table-responsive">
        <table class="table table-striped table-md">
          <tr>
            <th>{{'COMMON.NAME'|translate}}</th>
            <th>{{'USERS.EMAIL'|translate}}</th>
            <th>{{'USERS.USER_NAME'|translate}}</th>
            <th>{{'USERS.MOBILE'|translate}}</th>
            <th>{{'USERS.ADDRESS'|translate}}</th>
            <th></th>
          </tr>

          <tr *ngFor="let player of dataList; let i = index">
            <td>{{player.name}}</td>
            <td>{{player.email}}</td>
            <td>{{player.username}}</td>
            <td>{{player.mobile}}</td>
            <td>{{player.address}}</td>
            <td>
              <app-table-context-menu
                [permissionArr]="[AuthURL.Modules.subscriptions_managemnt.code, AuthURL.Modules.subscriptions_managemnt.screens.member.code]"
                (viewHandler)="view(player.id)"
                (editHandler)="edit(player.id)"
              >
                <span (click)="onClickAttendace(player.id)" class="dropdown-item">{{'MEMBER.ATTENDANCE'|translate}}<i class="fa fa-clock mx-2" aria-hidden="true"></i></span>
            </app-table-context-menu>
            </td>
          </tr>

        </table>
      </div>

    <app-pagination
      [totalRows]="totalRows"
      [size]="memberService.filterDataWithPaginationAndSort.size"
      [currentPage]="currentPage"
      (pageChanged)="pageChanged($event)"
      >
    </app-pagination>
  </app-page-header>
</app-auth-contect>


