<app-auth-contect>

  <app-page-header
  [pageHeader]="'EXCERCISE_CATEGORY.EXCERCISES_CATEGORIES'"
  [sectionHeader]="'PLAYERS.SHOW_PLAYERS'"
  [isTablePage]="true"
  [service]="categoriesService"

  (onSearch)="search()"
  (onStopSearch)="stopSearch()"
  (onAdd)="add()"
  [permissionArr]="[AuthURL.Modules.exercise_management.code, AuthURL.Modules.exercise_management.screens.excercise_category.code]"

>
    <div class="table-responsive">
      <table class="table table-striped table-md">
        <tr>
          <th>{{'COMMON.NAME'|translate}}</th>
          <th>{{'EXCERCISE_CATEGORY.NEXT_EXCERCISE_CATEGORY'|translate}}</th>
          <th></th>
        </tr>

        <tr *ngFor="let cat of dataList; let i = index">
          <td>{{cat.name}}</td>
          <td>{{cat.nextExcerciseCategoryName }}</td>
          <td>
            <app-table-context-menu
              (viewHandler)="view(cat.id)"
              (editHandler)="edit(cat.id)"
              [permissionArr]="[AuthURL.Modules.exercise_management.code, AuthURL.Modules.exercise_management.screens.excercise_category.code]"
              (showAuditEvent)="onShowAuditHandler(cat)"
            ></app-table-context-menu>
          </td>
        </tr>

      </table>
    </div>

  <app-pagination
    [totalRows]="totalRows"
    [size]="categoriesService.filterDataWithPaginationAndSort.size"
    [currentPage]="currentPage"
    (pageChanged)="pageChanged($event)"

    >
  </app-pagination>

  </app-page-header>
</app-auth-contect>


<app-modal *ngIf="showAuditDialog" [show]="showAuditDialog" (onClose)="showAuditDialog = false" [headerText]="'AUDIT.AUDIT_TITILE'">
  <app-audit [audit]="audit"></app-audit>
</app-modal>


