<app-auth-contect>
  <app-page-header [pageHeader]="'MEMBER.MANAGE_MEMBER'" [sectionHeader]="'MEMBER.PLAYER_ATTENDANCE'">

    <div *ngIf="activeSubscription">
        <h5 class="my-3">{{'MEMBER.PLAYER_ATTENDANCE'|translate}} - {{activeSubscription.user.name}}</h5>
        <div class="form-group row mb-4">
          <label class="col-form-label col-sm-12 col-md-2">{{'COMMON.START_DATE'|translate}}</label>
          <p class="col-sm-12 col-md-4">{{activeSubscription.startDate}}</p>

          <label class="col-form-label col-sm-12 col-md-2">{{'COMMON.END_DATE'|translate}}</label>
          <p class="col-sm-12 col-md-4">{{activeSubscription.endDate}}</p>
        </div>

        <div class="form-group row mb-4">
          <label class="col-form-label col-sm-12 col-md-2">{{'SUBSCRIPTIONS.REQUIRED_AMOUNT'|translate}}</label>
          <p class="col-sm-12 col-md-4">{{activeSubscription.requiredAmount}}</p>

          <label class="col-form-label col-sm-12 col-md-2">{{'SUBSCRIPTIONS.PAID_AMOUNT'|translate}}</label>
          <p class="col-sm-12 col-md-4">{{activeSubscription.paidAmount}}</p>
        </div>


        <div class="form-group row mb-4">
          <div class="col-form-label col-sm-12 col-md-6 px-5">
            <button *ngIf="activeSubscription" class="btn btn-warning" (click)="showSubscriptionDetails = true" >{{'SUBSCRIPTIONS.PLAN_DATA'|translate}}</button>
          </div>


          <label *ngIf="remainAmount > 0" class="col-form-label col-sm-12 col-md-2">{{'SUBSCRIPTIONS.REMAIN_AMOUNT'|translate}}</label>
          <p *ngIf="remainAmount > 0" class="col-sm-12 col-md-4">
              {{activeSubscription.requiredAmount - activeSubscription.paidAmount}}
              <span style="cursor:pointer" (click)="showPaymentRemain = true" class="text-warning stretched-link">{{'SUBSCRIPTIONS.PAY_REMAIN'|translate}}</span>
          </p>
        </div>
    </div>

    <div *ngIf="!activeSubscription" class="alert alert-danger text-center">{{'MEMBER.THIS_PLAYER_NOT_HAVE_ACTIVE_SUBSCRIPTION'|translate}}</div>


    <hr/>

     <form (submit)="onSubmit(form)" #form="ngForm" class="needs-validation" novalidate="">
      <div class="form-group row mb-4">

        <label class="col-form-label text-md-left col-sm-12 col-md-2">{{'MEMBER.EXCERCISES_CATEGORY'|translate}}</label>
        <div class="col-sm-12 col-md-4">

        <select class="form-control" name="nextCategory" [(ngModel)]="entity.excerciseCategory.id" #excerciseCategory="ngModel" required>
          <option [value]="null">--{{'COMMON.SELECT_ONE'|translate}}--</option>
          <option *ngFor="let cat of excercisesCategories" [value]="cat.id">{{cat.name}}</option>
        </select>

        </div>

      </div>
      <app-view-edit-actions
        [showSave]="true"
        [showCancel]="true"
        (onClickCancel)="goBack()"
      ></app-view-edit-actions>

     </form>

     <router-outlet></router-outlet>

    </app-page-header>
</app-auth-contect>


<app-modal *ngIf="showPaymentRemain" [show]="showPaymentRemain" (onClose)="showPaymentRemain = false"
  [headerText]="'SUBSCRIPTIONS.PLAN_DATA'">

    <div class="form-group row my-4">
      <label class="col-md-4">{{'MEMBER.EXCERCISES_CATEGORY'|translate}}</label>
      <input type="number" class="form-control col-md-4" [(ngModel)]="remainAmount" />
    </div>

    <div class="text-center">
      <button class="btn btn-primary mx-5" (click)="payRemainAmount()">{{'COMMON.SAVE'|translate}}</button>
    </div>
</app-modal>

<app-modal *ngIf="showSubscriptionDetails" [show]="showSubscriptionDetails" (onClose)="showSubscriptionDetails = false"
  [headerText]="'SUBSCRIPTIONS.PLAN_DATA'">
    <app-subscriptions-details [entity]="activeSubscription"></app-subscriptions-details>
</app-modal>
