<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="text-center">
      <img alt="image" [src]="userImg || 'assets/img/avatar/avatar-1.png'" class="rounded-circle mr-1" style="height: 150px; width: 75%;">
    </div>
    <div class="sidebar-brand">
      <a [routerLink]="['/', AppURL.Authen]">{{'COMMON.PROJECT_NAME'|translate}}</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a [routerLink]="['/', AppURL.Authen]">SA</a>
    </div>
    <ul class="sidebar-menu">
      <li routerLinkActive= "active"><a class="nav-link" [routerLink] = "['/' , AppURL.Authen , AuthURL.Dashboard]"><i class="fas fa-fire"></i> <span>Dashboard</span></a></li>
      <li class="dropdown" routerLinkActive= "active">
          <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>{{'SCREENS.PLAYERS_MANAGEMENT'|translate}}</span></a>
          <ul class="dropdown-menu">
           <li routerLinkActive= "active"><a [routerLink] = "['/' , AppURL.Authen , AuthURL.Players]">{{'SCREENS.PLAYERS'|translate}}</a></li>
          </ul>
        </li>

        <li class="dropdown" routerLinkActive= "active">
          <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>{{'SCREENS.SUBSCRIPTIONS_MANAGEMENT'|translate}}</span></a>
          <ul class="dropdown-menu">
            <li routerLinkActive= "active"><a [routerLink] = "['/' , AppURL.Authen , AuthURL.Plans]">{{'SCREENS.PLANS'|translate}}</a></li>
            <li routerLinkActive= "active"><a [routerLink] = "['/' , AppURL.Authen , AuthURL.Subscriptions]">{{'SCREENS.SUBSCRIPTIONS'|translate}}</a></li>
            <li routerLinkActive= "active"><a [routerLink] = "['/' , AppURL.Authen , AuthURL.ExcercisesCategory]">{{'SCREENS.EXCERCISES_CATEGORIES'|translate}}</a></li>
          </ul>
        </li>

    </ul>
  </aside>
</div>
