<div class="main-sidebar sidebar-style-2" style="box-shadow: 0px 0px 5px;">
  <aside id="sidebar-wrapper">
    <div class="text-center my-2" style="cursor: pointer;">
      <img [routerLink]="['/' , AppURL.Authen , AuthURL.Profile]" alt="image" [src]="userImg || 'assets/img/avatar/avatar-1.png'" class="rounded-circle mr-1" style="height: 150px; width: 75%;">
    </div>
    <hr/>
    <div class="sidebar-brand">
      <a [routerLink]="['/', AppURL.Authen]">{{'COMMON.PROJECT_NAME'|translate}}</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a [routerLink]="['/', AppURL.Authen]">SG</a>
    </div>
    <hr/>
    <ul class="sidebar-menu">
      <li routerLinkActive= "active"><a class="nav-link" [routerLink] = "['/' , AppURL.Authen , AuthURL.Dashboard]"><i class="fas fa-fire"></i> <span>Dashboard</span></a></li>
      <li class="dropdown" routerLinkActive= "active">
          <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>{{'SCREENS.SUBSCRIPTIONS_MANAGEMENT'|translate}}</span></a>
          <ul class="dropdown-menu">
            <li routerLinkActive= "active"><a [routerLink] = "['/' , AppURL.Authen , AuthURL.SubscriptionsModule, AuthURL.Plans]">{{'SCREENS.PLANS'|translate}}</a></li>
            <li routerLinkActive= "active"><a [routerLink] = "['/' , AppURL.Authen , AuthURL.SubscriptionsModule, AuthURL.Players]">{{'SCREENS.PLAYERS'|translate}}</a></li>
            <li routerLinkActive= "active"><a [routerLink] = "['/' , AppURL.Authen , AuthURL.SubscriptionsModule, AuthURL.Subscriptions]">{{'SCREENS.SUBSCRIPTIONS'|translate}}</a></li>
          </ul>
        </li>

        <li class="dropdown" routerLinkActive= "active">
          <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>{{'SCREENS.SUBSCRIPTIONS_MANAGEMENT'|translate}}</span></a>
          <ul class="dropdown-menu">
            <li routerLinkActive= "active"><a [routerLink] = "['/' , AppURL.Authen ,  AuthURL.ExerciseModule, AuthURL.ExcercisesCategory]">{{'SCREENS.EXCERCISES_CATEGORIES'|translate}}</a></li>
            <li routerLinkActive= "active"><a [routerLink] = "['/' , AppURL.Authen ,  AuthURL.ExerciseModule, AuthURL.Equipment]">{{'SCREENS.EQUIPMENTS'|translate}}</a></li>
            <li routerLinkActive= "active"><a [routerLink] = "['/' , AppURL.Authen ,  AuthURL.ExerciseModule, AuthURL.Exercise]">{{'SCREENS.EXCERCISES'|translate}}</a></li>
          </ul>
        </li>


        <hr/>

        <li class="dropdown" routerLinkActive= "active" *ngFor="let module of getModulesKeys()">
          <a href="#" class="nav-link has-dropdown"><i class="far" [ngClass]="permissions[module]['icon']" ></i> <span>{{permissions[module]['name']}}</span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let screen of getScrensKeys(module)" routerLinkActive= "active">
              <a [routerLink] = "'/' + AppURL.Authen + permissions[module]['children'][screen]['path']">
                <i class="far" [ngClass]="permissions[module]['children'][screen]['icon']" ></i>
                {{permissions[module]['children'][screen]['name']}}
              </a></li>
          </ul>
        </li>

    </ul>
  </aside>
</div>
