<app-auth-contect>
  <app-page-header
    [pageHeader]="'ROLES.MANGE_ROLES'"
    [sectionHeader]="'ROLES.ROLES'"
    [isTablePage]="true"
    [service]="rolesService"

    (onSearch)="search()"
    (onStopSearch)="stopSearch()"
    (onAdd)="add()"
    [permissionArr]="[AuthURL.Modules.user_management.code, AuthURL.Modules.user_management.screens.roles.code]"
  >
      <div class="table-responsive">
        <table class="table table-striped table-md">
          <tr>
            <th>{{'COMMON.NAME'|translate}}</th>
            <th></th>
          </tr>

          <tr *ngFor="let role of dataList; let i = index">
            <td>{{role.name}}</td>
            <td>
              <app-table-context-menu
                (editHandler)="edit(role.id)"
                [permissionArr]="[AuthURL.Modules.user_management.code, AuthURL.Modules.user_management.screens.roles.code]"
                (showAuditEvent)="onShowAuditHandler(role)"
              ></app-table-context-menu>
            </td>
          </tr>

        </table>
      </div>

    <app-pagination
      [totalRows]="totalRows"
      [size]="rolesService.filterDataWithPaginationAndSort.size"
      [currentPage]="currentPage"
      (pageChanged)="pageChanged($event)"
      >
    </app-pagination>

  </app-page-header>
</app-auth-contect>

<app-modal *ngIf="showAuditDialog" [show]="showAuditDialog" (onClose)="showAuditDialog = false" [headerText]="'AUDIT.AUDIT_TITILE'">
  <app-audit [audit]="audit"></app-audit>
</app-modal>
