<app-auth-contect>
  <app-page-header
    [pageHeader]="'ROLES.MANGE_ROLES'"
    [sectionHeader]="'ROLES.ROLES'"
    [isTablePage]="true"
    [service]="rolesService"

    (onSearch)="search()"
    (onStopSearch)="stopSearch()"
    (onAdd)="add()"
  >
      <div class="table-responsive">
        <table class="table table-striped table-md">
          <tr>
            <th>{{'COMMON.NAME'|translate}}</th>
            <th></th>
          </tr>

          <tr *ngFor="let role of dataList; let i = index">
            <td>{{role.name}}</td>
            <td>
              <app-table-context-menu
                [showEdit]="true"
                (editHandler)="edit(role.id)"
              ></app-table-context-menu>
            </td>
          </tr>

        </table>
      </div>

    <app-pagination
      [totalRows]="totalRows"
      [size]="rolesService.filterDataWithPaginationAndSort.size"
      [currentPage]="currentPage"
      (pageChanged)="pageChanged($event)"
      >
    </app-pagination>

  </app-page-header>
</app-auth-contect>


