<div class="form-group row mb-4">
  <label class="col-form-label col-sm-12 col-md-2">{{'SUBSCRIPTIONS.SUBSCRIPTION_NUMBER'|translate}}</label>
  <p class="col-sm-12 col-md-4">{{entity.subscriptionNumber}}</p>

  <label class="col-form-label col-sm-12 col-md-2">{{'COMMON.NAME'|translate}}</label>
  <p class="col-sm-12 col-md-4">{{entity.user.name}}</p>
</div>

<div class="form-group row mb-4">
  <label class="col-form-label col-sm-12 col-md-2">{{'COMMON.START_DATE'|translate}}</label>
  <p class="col-sm-12 col-md-4">{{entity.startDate}}</p>

  <label class="col-form-label col-sm-12 col-md-2">{{'COMMON.END_DATE'|translate}}</label>
  <p class="col-sm-12 col-md-4">{{entity.endDate}}</p>
</div>


<div class="form-group row mb-4">
  <label class="col-form-label col-sm-12 col-md-2">{{'COMMON.START_DATE'|translate}}</label>
  <p class="col-sm-12 col-md-4">{{entity.startDate}}</p>

  <label class="col-form-label col-sm-12 col-md-2">{{'COMMON.END_DATE'|translate}}</label>
  <p class="col-sm-12 col-md-4">{{entity.endDate}}</p>
</div>

<div class="form-group row mb-4">
  <label class="col-form-label col-sm-12 col-md-2">{{'SUBSCRIPTIONS.PRICE'|translate}}</label>
  <p class="col-sm-12 col-md-4">{{entity.price}}</p>

  <label class="col-form-label col-sm-12 col-md-2">{{'SUBSCRIPTIONS.DISCOUNT_PERCENT'|translate}}</label>
  <p class="col-sm-12 col-md-4">{{entity.discount}} % </p>
</div>


<div class="form-group row mb-4">
  <label class="col-form-label col-sm-12 col-md-2">{{'SUBSCRIPTIONS.REQUIRED_AMOUNT'|translate}}</label>
  <p class="col-sm-12 col-md-4">{{entity.requiredAmount}}</p>

  <label class="col-form-label col-sm-12 col-md-2">{{'SUBSCRIPTIONS.PAID_AMOUNT'|translate}}</label>
  <p class="col-sm-12 col-md-4">{{entity.paidAmount}}</p>
</div>


<div class="form-group row mb-4">
  <label class="col-form-label col-sm-12 col-md-2">{{'PLANS.NUMBER_OF_DAYS'|translate}}</label>
  <p class="col-sm-12 col-md-4">{{entity.numberOfDays}}</p>

  <label class="col-form-label col-sm-12 col-md-2">{{'PLANS.NUMBER_OF_RESERVED_DAYS'|translate}}</label>
  <p class="col-sm-12 col-md-4">{{entity.numberOfReservedDays}}</p>
</div>

<div class="form-group row mb-4">
  <label class="col-form-label col-sm-12 col-md-2">{{'PLANS.NUMBER_OF_INVETATIONS'|translate}}</label>
  <p class="col-sm-12 col-md-4">{{entity.numberOfInvitations}}</p>
</div>
