<app-auth-contect>
  <app-page-header [pageHeader]="'MEMBER.MANAGE_MEMBER'" [sectionHeader]="'MEMBER.ADD_PLAYER'">
    <form (submit)="onSubmit(form)" #form="ngForm" class="needs-validation" novalidate="">
          <div class="form-group row mb-4">

            <label class="col-form-label col-sm-12 col-md-2">{{'USERS.NAME'|translate}}</label>
            <div class="col-sm-12 col-md-4">
              <input type="text" class="form-control" name="name" [(ngModel)]="entity.name" required #name="ngModel">
            </div>

            <label class="col-form-label col-sm-12 col-md-2">{{'USERS.EMAIL'|translate}}</label>
            <div class="col-sm-12 col-md-4">
              <input type="text" class="form-control" name="email" [(ngModel)]="entity.email" required #email="ngModel">
            </div>

          </div>

          <div class="form-group row mb-4">

            <label class="col-form-label col-sm-12 col-md-2">{{'USERS.USER_NAME'|translate}} </label>
            <div class="col-sm-12 col-md-4">
              <input type="text" class="form-control" name="username" [(ngModel)]="entity.username" required #username="ngModel">
            </div>

            <label class="col-form-label col-sm-12 col-md-2">{{'USERS.MOBILE'|translate}} </label>
            <div class="col-sm-12 col-md-4">
              <input type="text" class="form-control" name="mobile" [(ngModel)]="entity.mobile" required #mobile="ngModel">
            </div>

          </div>


          <div class="form-group row mb-4">

            <label class="col-form-label col-sm-12 col-md-2">{{'USERS.ADDRESS'|translate}}</label>
            <div class="col-sm-12 col-md-4">
              <input type="text" class="form-control" name="address" [(ngModel)]="entity.address" required #address="ngModel">
            </div>

            <label class="col-form-label col-sm-12 col-md-2">{{'USERS.BIRTH_DAY'|translate}}</label>
            <div class="col-sm-12 col-md-4">
              <input type="date" class="form-control" name="birthDate" [(ngModel)]="entity.birthDate" required #birthDate="ngModel">
            </div>

          </div>

          <div class="form-group row mb-4">

            <label class="col-form-label col-sm-12 col-md-2">{{'USERS.ADDRESS'|translate}}</label>
            <div class="col-sm-12 col-md-4">
              <select class="form-control" name="role"  required [(ngModel)]="selectedId"
                    (change)="onChangeRole($event.target.value)">
                    <option [value]="0">--{{'COMMON.SELECT_ONE'|translate}}--</option>
                    <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
                </select>
            </div>

          </div>


      <app-view-edit-actions
        [showSave]="true"
        [showCancel]="true"
        (onClickCancel)="goBack()"
      ></app-view-edit-actions>

     </form>
    </app-page-header>
</app-auth-contect>
