<app-auth-contect>
  <app-page-header
    [pageHeader]="'PLANS.PLANS'"
    [sectionHeader]="'PLANS.PLANS'"
    [isTablePage]="true"
    [service]="planService"

    (onSearch)="search()"
    (onStopSearch)="stopSearch()"
    (onAdd)="add()"
    [permissionArr]="[AuthURL.Modules.subscriptions_managemnt.code, AuthURL.Modules.subscriptions_managemnt.screens.plans.code]"
  >
      <div class="table-responsive">
        <table class="table table-striped table-md">
          <tr>
            <th>{{'COMMON.NAME'|translate}}</th>
            <th>{{'PLANS.DISCOUNT'|translate}}</th>
            <th>{{'PLANS.NUMBER_OF_DAYS'|translate}}</th>
            <th>{{'PLANS.NUMBER_OF_INVETATIONS'|translate}}</th>
            <th>{{'PLANS.NUMBER_OF_RESERVED_DAYS'|translate}}</th>
            <th>{{'PLANS.PRICE'|translate}}</th>
            <th></th>
          </tr>

          <tr *ngFor="let plan of dataList; let i = index">
            <td>{{plan.name}}</td>
            <td>{{plan.discount}}</td>
            <td>{{plan.numberOfDays}}</td>
            <td>{{plan.numberOfInvitations}}</td>
            <td>{{plan.numberOfReservedDays}}</td>
            <td>{{plan.price}}</td>
            <td>
              <app-table-context-menu
                [showView]="true"
                [showEdit]="true"

                (viewHandler)="view(plan.id)"
                (editHandler)="edit(plan.id)"
                [permissionArr]="[AuthURL.Modules.subscriptions_managemnt.code, AuthURL.Modules.subscriptions_managemnt.screens.plans.code]"

              ></app-table-context-menu>
            </td>
          </tr>

        </table>
      </div>

    <app-pagination
      [totalRows]="totalRows"
      [size]="planService.filterDataWithPaginationAndSort.size"
      [currentPage]="currentPage"
      (pageChanged)="pageChanged($event)"
      >
    </app-pagination>

  </app-page-header>
</app-auth-contect>


