<div class="form-group row mb-4">
  <label class="col-form-label col-sm-12 col-md-4">{{'AUDIT.CREATED_AT'|translate}}</label>
  <p class="col-sm-12 col-md-8">{{audit.createdAt|date:'dd-MM-yyyy - hh:mm'}}</p>
</div>


<div class="form-group row mb-4">
  <label class="col-form-label col-sm-12 col-md-4">{{'AUDIT.CREATED_BY_NAME'|translate}}</label>
  <p class="col-sm-12 col-md-8">{{audit.createdByName}}</p>
</div>



<div class="form-group row mb-4">
  <label class="col-form-label col-sm-12 col-md-4">{{'AUDIT.LAST_MODIFIED_AT'|translate}}</label>
  <p class="col-sm-12 col-md-8">{{audit.lastModifiedAt|date:'dd-MM-yyyy - hh:mm'}}</p>
</div>


<div class="form-group row mb-4">
  <label class="col-form-label col-sm-12 col-md-4">{{'AUDIT.LAST_MODIFIED_BY'|translate}}</label>
  <p class="col-sm-12 col-md-8">{{audit.lastModifiedName}}</p>
</div>
