<app-auth-contect>
  <app-page-header
  [pageHeader]="'SUBSCRIPTIONS.MANAGE_SUBSCRIPTIONS'"
  [sectionHeader]="'SUBSCRIPTIONS.SHOW_SUBSCRIPTIONS'"
  [isTablePage]="true"
  [service]="_componentService"

  (onSearch)="search()"
  (onStopSearch)="stopSearch()"
  (onAdd)="add()"
>

  <app-status-list-filter [statusList]="statusList" (onSelectStatus)="onSelectStatusHandler($event)"
    [selectedStatusIndex]="_componentService.status? _componentService.status : _componentService.getDefaultStatus()"></app-status-list-filter>
    <div class="table-responsive">
      <table class="table table-striped table-md">
        <tr>
          <th>{{'COMMON.NAME'|translate}}</th>
          <th>{{'SUBSCRIPTIONS.SUBSCRIPTIONS_TYPE'|translate}}</th>
          <th>{{'SUBSCRIPTIONS.SUBSCRIPTION_NUMBER'|translate}}</th>
          <th>{{'SUBSCRIPTIONS.PRICE'|translate}}</th>
          <th>{{'SUBSCRIPTIONS.PAID_AMOUNT'|translate}}</th>
          <th>{{'COMMON.START_DATE'|translate}}</th>
          <th>{{'COMMON.END_DATE'|translate}}</th>
          <th></th>
        </tr>

        <tr *ngFor="let subscription of dataList; let i = index">
          <td>{{subscription.playerName}}</td>
          <td>{{subscription.planName}}</td>
          <td>{{subscription.subscriptionNumber}}</td>
          <td>{{subscription.price}}</td>
          <td>{{subscription.paidAmount}}</td>
          <td>{{subscription.startDate}}</td>
          <td>{{subscription.endDate}}</td>
          <td>
            <app-table-context-menu
                [showView]="true"

                (viewHandler)="view(subscription.id)"
                (showStatusEvent)="onShowStatusHandler(subscription)"
              ></app-table-context-menu>
          </td>
        </tr>

      </table>
    </div>

  <app-pagination
    [totalRows]="totalRows"
    [size]="_componentService.filterDataWithPaginationAndSort.size"
    [currentPage]="getService().filterDataWithPaginationAndSort.page + 1"
    (pageChanged)="pageChanged($event)"
    >
  </app-pagination>

  </app-page-header>
</app-auth-contect>


<app-modal *ngIf="showStatusDialog" [show]="showStatusDialog" (onClose)="showStatusDialog = false" [headerText]="'STATUS.CHANGE_STATUS'">
  <app-status
    [entity]="entity"
    [statusList]="statusList"
    (onCloseDialog)="showStatusDialog = false"
    (onSaveStatusEvent)="onSaveStatusHandler($event)"
  ></app-status>
</app-modal>

<app-modal *ngIf="showAuditDialog" [show]="showAuditDialog" (onClose)="showAuditDialog = false" [headerText]="'AUDIT.AUDIT_TITILE'">
  <app-audit [audit]="audit"></app-audit>
</app-modal>
