  <div class="d-flex justify-content-center bd-highlight mb-3">
    <button *ngIf="showSave" class="btn btn-primary p-2 m-2 bd-highlight" type="submit">{{'COMMON.SAVE'|translate}}</button>
    <button *ngIf="showCancel" class="btn btn-warning p-2 m-2 bd-highlight" type="button" (click)="onClickCancelHandler()">{{'COMMON.CANCEL'|translate}}</button>
    <button *ngIf="showBack" class="btn btn-warning p-2 m-2 bd-highlight" type="button" (click)="onClickBackHandler()">{{'COMMON.BACK'|translate}}</button>
  </div>