<app-auth-contect>
  <app-page-header
  [pageHeader]="'MEMBER.MANAGE_MEMBER'"
  [sectionHeader]="'MEMBER.SHOW_MEMBER'"
  [isTablePage]="true"
  [service]="employeeService"

  (onSearch)="search()"
  (onStopSearch)="stopSearch()"
  (onAdd)="add()"
  [permissionArr]="[AuthURL.Modules.user_management.code, AuthURL.Modules.user_management.screens.employees.code]"

>


        <app-status-list-filter
              [statusList] = "statusList"
              [selectedStatusIndex] = "employeeService.status ? employeeService.status : employeeService.getDefaultStatus()"
              (onSelectStatus) = "onSelectStatusHandler($event)"
              ></app-status-list-filter>

      <div class="table-responsive">
        <table class="table table-striped table-md">
          <tr>
            <th>{{'COMMON.NAME'|translate}}</th>
            <th>{{'USERS.EMAIL'|translate}}</th>
            <th>{{'USERS.USER_NAME'|translate}}</th>
            <th>{{'USERS.MOBILE'|translate}}</th>
            <th>{{'USERS.ADDRESS'|translate}}</th>
            <th></th>
          </tr>

          <tr *ngFor="let player of dataList; let i = index">
            <td>{{player.name}}</td>
            <td>{{player.email}}</td>
            <td>{{player.username}}</td>
            <td>{{player.mobile}}</td>
            <td>{{player.address}}</td>
            <td>
              <app-table-context-menu
                (viewHandler)="view(player.id)"
                (editHandler)="edit(player.id)"
                [permissionArr]="[AuthURL.Modules.user_management.code, AuthURL.Modules.user_management.screens.employees.code]"
                (showStatusEvent)="onShowStatusHandler(player)"
                (showAuditEvent)="onShowAuditHandler(player)"
              >
            </app-table-context-menu>
            </td>
          </tr>

        </table>
      </div>

    <app-pagination
      [totalRows]="totalRows"
      [size]="employeeService.filterDataWithPaginationAndSort.size"
      [currentPage]="currentPage"
      (pageChanged)="pageChanged($event)"
      >
    </app-pagination>

  </app-page-header>
</app-auth-contect>

<app-modal *ngIf="showStatusDialog" [show]="showStatusDialog" (onClose)="showStatusDialog = false" [headerText]="'STATUS.CHANGE_STATUS'">
  <app-status
    [entity]="entity"
    [statusList]="statusList"
    (onCloseDialog)="showStatusDialog = false"
    (onSaveStatusEvent)="onSaveStatusHandler($event)"
  ></app-status>
</app-modal>

<app-modal *ngIf="showAuditDialog" [show]="showAuditDialog" (onClose)="showAuditDialog = false" [headerText]="'AUDIT.AUDIT_TITILE'">
  <app-audit [audit]="audit"></app-audit>
</app-modal>


