<app-auth-contect>
  <app-page-header
  [pageHeader]="'PLAYERS.MANAGE_PLAYERS'"
  [sectionHeader]="'PLAYERS.SHOW_PLAYERS'"
  [isTablePage]="true"
  [service]="employeeService"

  (onSearch)="search()"
  (onStopSearch)="stopSearch()"
  (onAdd)="add()"
  [permissionArr]="[AuthURL.Modules.user_management.code, AuthURL.Modules.user_management.screens.employees.code]"

>
      <div class="table-responsive">
        <table class="table table-striped table-md">
          <tr>
            <th>{{'COMMON.NAME'|translate}}</th>
            <th>{{'USERS.EMAIL'|translate}}</th>
            <th>{{'USERS.USER_NAME'|translate}}</th>
            <th>{{'USERS.MOBILE'|translate}}</th>
            <th>{{'USERS.ADDRESS'|translate}}</th>
            <th></th>
          </tr>

          <tr *ngFor="let player of dataList; let i = index">
            <td>{{player.name}}</td>
            <td>{{player.email}}</td>
            <td>{{player.username}}</td>
            <td>{{player.mobile}}</td>
            <td>{{player.address}}</td>
            <td>
              <app-table-context-menu
                (viewHandler)="view(player.id)"
                (editHandler)="edit(player.id)"
                [permissionArr]="[AuthURL.Modules.user_management.code, AuthURL.Modules.user_management.screens.employees.code]"

              >
            </app-table-context-menu>
            </td>
          </tr>

        </table>
      </div>

    <app-pagination
      [totalRows]="totalRows"
      [size]="employeeService.filterDataWithPaginationAndSort.size"
      [currentPage]="currentPage"
      (pageChanged)="pageChanged($event)"
      >
    </app-pagination>
  </app-page-header>
</app-auth-contect>


