<app-auth-contect>
  <app-page-header [pageHeader]="'SUBSCRIPTIONS.MANAGE_SUBSCRIPTIONS'" [sectionHeader]="'SUBSCRIPTIONS.ADD_SUBSCRIPTIONS'">
    <form (submit)="onSubmit(form)" #form="ngForm" class="needs-validation" novalidate=""  (keydown.enter)="$event.preventDefault()">
            <h6>{{'SUBSCRIPTIONS.PLAN_DATA'|translate}}</h6>
            <hr/>
            <app-select-plan [selectedPlan]="selectedPlan">
                <select class="form-control" name="plan" [(ngModel)]="entity.plan.id" required #plan="ngModel"
                    (change)="onChangePlan($event.target.value)">
                    <option [value]="0">--{{'COMMON.SELECT_ONE'|translate}}--</option>
                    <option *ngFor="let plan of plans" [value]="plan.id">{{plan.name}}</option>
                </select>
            </app-select-plan>

            <br/>

            <h6>{{'SUBSCRIPTIONS.PLAYER_DATA'|translate}}</h6>
            <hr/>

              <div class="form-group row mb-4">
                <label class="col-form-label col-sm-12 col-md-2"></label>
                <div class="col-sm-12 col-md-6">
                    <input type="text" class="form-control" name="userSearch" [(ngModel)]="userSearch"
                      [placeholder]="'SUBSCRIPTIONS.SEARCH_BY_NAME_USERNAME_MOBILE_EMAIL'|translate"
                    >
                </div>
                <button type="button" class="btn btn-danger" (click)="findUser()">
                 {{'COMMON.SEARCH' |translate}}
                </button>
              </div>

              <div *ngIf="usersList.length > 0">
                  <div class="form-group row mb-4">
                    <label class="col-form-label col-sm-12 col-md-2">{{'USERS.NAME'|translate}}</label>
                    <div class="col-sm-12 col-md-4">
                    <select class="form-control" name="user" [(ngModel)]="entity.user.id" required #user="ngModel"
                      (change)="onChangeUser($event.target.value)">
                      <option [value]="0">--{{'COMMON.SELECT_ONE'|translate}}--</option>
                      <option *ngFor="let user of usersList" [value]="user.id">{{user.name}}</option>
                    </select>
                    </div>
                    <p class="btn btn-success" *ngIf="selectedUser"  (click)="showPlayerDetails = true">{{'COMMON.DETAILS'|translate}}</p>
                  </div>
              </div>

          <br/>

          <h6>{{'SUBSCRIPTIONS.SUBSCRIPTION_DATA'|translate}}</h6>
          <hr/>
          <div class="form-group row mb-4">
            <label class="col-form-label col-sm-12 col-md-2">{{'COMMON.START_DATE'|translate}}</label>
            <div class="col-sm-12 col-md-4">
              <input type="date" class="form-control" name="startDate" [(ngModel)]="entity.startDate" #startDate="ngModel" required>
            </div>
            <label class="col-form-label col-sm-12 col-md-2">{{'COMMON.END_DATE'|translate}}</label>
            <div class="col-sm-12 col-md-4">
              <input type="date" class="form-control" name="endDate" [(ngModel)]="entity.endDate" #endDate="ngModel" required>
            </div>
          </div>

          <div class="form-group row mb-4">
            <label class="col-form-label col-sm-12 col-md-2">{{'SUBSCRIPTIONS.PAID_AMOUNT'|translate}}</label>
            <div class="col-sm-12 col-md-4">
              <input type="number" class="form-control" name="paidAmount" min="0" [max]="netPrice" [(ngModel)]="entity.paidAmount" #paidAmount="ngModel" required>
            </div>
            </div>

          <div *ngIf="selectedPlan">
            <div class="form-group row mb-4">
              <label class="col-form-label col-sm-12 col-md-2">{{'SUBSCRIPTIONS.BFORE_DISCOUNT'|translate}}</label>
              <p class="col-sm-12 col-md-4">{{selectedPlan.price}}</p>

              <label class="col-form-label col-sm-12 col-md-2">{{'SUBSCRIPTIONS.DISCOUNT_PERCENT'|translate}}</label>
              <p class="col-sm-12 col-md-4">{{selectedPlan.discount}}%</p>
            </div>

            <div class="form-group row mb-4">
              <label class="col-form-label col-sm-12 col-md-2">{{'SUBSCRIPTIONS.REQUIRED_AMOUNT'|translate}}</label>
              <p class="col-sm-12 col-md-4">{{netPrice}}</p>

              <label class="col-form-label col-sm-12 col-md-2">{{'SUBSCRIPTIONS.REMAIN_AMOUNT'|translate}}</label>
              <p class="col-sm-12 col-md-4">{{entity.paidAmount ? netPrice - entity.paidAmount : netPrice}}</p>
            </div>
        </div>
      <app-view-edit-actions
        [showSave]="true"
        [showCancel]="true"
        (onClickCancel)="goBack()"
      ></app-view-edit-actions>

    </form>
  </app-page-header>

</app-auth-contect>

<app-modal *ngIf="showPlayerDetails" [show]="showPlayerDetails" (onClose)="showPlayerDetails = false"
  [headerText]="'SUBSCRIPTIONS.PLAN_DATA'">
  <app-player-details [entity]="selectedUser"></app-player-details>
</app-modal>
