<div class="dropdown">
   <i class="fa fa-ellipsis-v fa-1x" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"></i>
  <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
    <span *appCheckPermission="[permissionArr[0], permissionArr[1], permissionArr[1] + '_edit' ]"
        (click)="onEdit()" class="dropdown-item">{{'COMMON.EDIT'|translate}}<i class="fa fa-edit mx-2" aria-hidden="true"></i></span>
    <span *appCheckPermission="[permissionArr[0], permissionArr[1], permissionArr[1] + '_details' ]"
       (click)="onView()" class="dropdown-item">{{'COMMON.DETAILS'|translate}}<i class="fa fa-eye mx-2" aria-hidden="true"></i></span>
    <span *appCheckPermission="[permissionArr[0], permissionArr[1], permissionArr[1] + '_change_status' ]"
      (click)="onClickStatus()" class="dropdown-item">{{'COMMON.STATUS'|translate}}<i class="fa fa-eye mx-2" aria-hidden="true"></i></span>
    <span *appCheckPermission="[permissionArr[0], permissionArr[1], permissionArr[1] + '_audit' ]"
       (click)="onClickAudit()" class="dropdown-item">{{'AUDIT.AUDIT'|translate}}<i class="fa fa-eye mx-2" aria-hidden="true"></i></span>
    <ng-content></ng-content>
  </div>
</div>
