<section class="section">

  <div class="section-header">
    <h1>{{pageHeader|translate}}</h1>
  </div>

  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card author-box card-primary">
          <div class="card-header">
            <h4>{{sectionHeader|translate}}</h4>
            <div class="card-header-form" *ngIf="isTablePage">
              <form>
                    <div class="d-flex align-content-stretch flex-wrap bd-highlight mb-3">
                      <div class="input-group col-md-8">
                        <input type="text" class="form-control" [placeholder]="'COMMON.SEARCH'|translate" name="searchText"
                          [(ngModel)]="service.searchText" />
                        <div class="input-group-btn">
                            <button  class="btn btn-primary" (click)="onSearchHandler()">
                              <i class="fas fa-search"></i>
                            </button>
                               <!-- [ngClass]="{'invisible': !service.isClickSearch}" -->
                            <button 
                            [disabled]="!service.isClickSearch"
                            class="btn btn-warning" (click)="onStopSearchHanlder()">
                              <i class="fa fa-times"></i>
                            </button>
                          </div>
                        </div>
                        <div class="input-group col-md-4 p-3 p-md-0">
                          <button *appCheckPermission="[permissionArr[0], permissionArr[1], permissionArr[1]+ '_add']"
                            class="btn btn-danger b-2 w-100" (click)="onAddHandler()">{{'COMMON.ADD'|translate}}</button>
                        </div>
                    </div>

              </form>
            </div>
          </div>

          <div class="card-body">
            <ng-content></ng-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
