<app-auth-contect>
  <app-page-header [pageHeader]="'PLANS.CREATE_PLANE'" [sectionHeader]="'PLANS.ADD_PLAN'">

    <form (submit)="onSubmit(form)" #form="ngForm" class="needs-validation" novalidate="">

      <div class="form-group row mb-4">

        <label class="col-form-label col-sm-12 col-md-2">{{'COMMON.NAME'|translate}}</label>
        <div class="col-sm-12 col-md-4">
          <input type="text" class="form-control" name="name" [(ngModel)]="entity.name" required #name="ngModel">
        </div>


        <label class="col-form-label col-sm-12 col-md-2">{{'COMMON.DESCRIPTION'|translate}}</label>
        <div class="col-sm-12 col-md-4">
          <input type="text" class="form-control" name="description" [(ngModel)]="entity.description" required
            #description="ngModel">
        </div>

      </div>


      <div class="form-group row mb-4">

        <label class="col-form-label col-sm-12 col-md-2">{{'PLANS.PRICE'|translate}}</label>
        <div class="col-sm-12 col-md-4">
          <input type="number" class="form-control" name="price" [(ngModel)]="entity.price" required #price="ngModel">
        </div>

        <label class="col-form-label col-sm-12 col-md-2">{{'PLANS.NUMBER_OF_DAYS'|translate}}</label>
        <div class="col-sm-12 col-md-4">
          <input type="number" class="form-control" name="numberOfDays" [(ngModel)]="entity.numberOfDays" required
            #numberOfDays="ngModel">
        </div>

      </div>

      <div class="form-group row mb-4">

        <label class="col-form-label col-sm-12 col-md-2">{{'PLANS.NUMBER_OF_RESERVED_DAYS'|translate}}</label>
        <div class="col-sm-12 col-md-4">
          <input type="number" class="form-control" name="numberOfReservedDays"
            [(ngModel)]="entity.numberOfReservedDays" required #numberOfReservedDays="ngModel">
        </div>

        <label class="col-form-label col-sm-12 col-md-2">{{'PLANS.NUMBER_OF_INVETATIONS'|translate}}</label>
        <div class="col-sm-12 col-md-4">
          <input type="number" class="form-control" name="numberOfInvitations" [(ngModel)]="entity.numberOfInvitations"
            #numberOfInvitations="ngModel">
        </div>

      </div>

      <div class="form-group row mb-4">

        <label class="col-form-label col-sm-12 col-md-2">{{'PLANS.DISCOUNT'|translate}}</label>
        <div class="col-sm-12 col-md-4">
          <input type="number" class="form-control" name="discount" [(ngModel)]="entity.discount" #discount="ngModel">
        </div>

        <div class="custom-control custom-checkbox col-sm-12 col-md-6">
          <input type="checkbox" class="custom-control-input" tabindex="3" id="isSpecial" name="isSpecial"
            [(ngModel)]="entity.special" #isSpecial="ngModel">
          <label class="custom-control-label col-sm-8" for="isSpecial">{{'PLANS.IS_SPECIAL'|translate}} </label>
        </div>


      </div>

      <app-view-edit-actions
        [showSave]="true"
        [showCancel]="true"
        (onClickCancel)="goBack()"
      ></app-view-edit-actions>
    </form>

  </app-page-header>
</app-auth-contect>
